@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0f0f0f;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #11134f41;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0d0d0d;
}
